alembic==1.6.5
astroid==2.12.12
certifi @ file:///croot/certifi_1665076670883/work/certifi
certipy==0.1.3
charset-normalizer==2.1.1
click==8.1.3
cryptography==41.0.0
dill==0.3.6
filelock==3.8.0
greenlet==1.1.0
huggingface-hub==0.0.12
idna==3.4
importlib-metadata==5.0.0
isort==5.10.1
joblib==1.2.0
jupyter-telemetry==0.1.0
jupyterhub==1.5.0
lazy-object-proxy==1.8.0
Mako==1.2.2
mccabe==0.7.0
numpy==1.22.0
packaging==21.3
pamela==1.0.0
pandas==1.1.4
platformdirs==2.5.4
prettytable==3.5.0
protobuf==3.19.5
pylint==2.15.5
pyOpenSSL==20.0.1
pyparsing==3.0.9
python-dateutil==2.8.2
python-editor==1.0.4
python-json-logger==2.0.1
pytz==2022.6
PyYAML==6.0
regex==2022.10.31
requests==2.31.0
ruamel.yaml==0.17.10
ruamel.yaml.clib==0.2.4
sacremoses==0.0.53
scikit-learn==0.24.2
scipy==1.10.0
six==1.16.0
soyclustering==0.2.0
SQLAlchemy==1.4.20
tensorboardX==2.4
threadpoolctl==3.1.0
tokenizers==0.10.3
tomli==2.0.1
tomlkit==0.11.6
torch==1.13.1
tqdm==4.62.3
transformers==4.30.0
typed-ast==1.5.4
typing_extensions==4.4.0
urllib3==1.26.12
wcwidth==0.2.5
wrapt==1.14.1
zipp==3.10.0
